@{
    ViewData["Title"] = "Home Page";
}

<head>

    <title>Index</title>
    <link rel="stylesheet" href="Index.cshtml.css" type="text/css" />


</head>




<br />
<h1 style="text-align:center">KhumaloCraft Home Page</h1>
<br />
<br />



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner" style="height: 500px">
        <div class="carousel-item active">
            <img src="/lib/Image/artwork22.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="/lib/Image/artwork18.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/lib/Image/artwork24.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<br />
<div class="card" style="length: 230px; font-size: 16px; border-radius: 40px">
    <div class="card-body">

        <p class="card-text">
            Welcome to KhumaloCraft Emporium! We bring together creativity and craftsmanship from all over the world. Our platform connects artisans with people who appreciate their work. Discover our assortment of handmade gifts, ranging from stunning oil paintings to vibrant textiles. Each piece narrates a story about skill and culture. Whether you're decorating your house or seeking for a unique gift, we make buying simple and pleasant.
            Join us in honoring the artistry of great creators worldwide. Begin your adventure with us today!
        </p>

    </div>
</div>

<br />
<br />

<div class="card mb-3" style="height: 400px; width: 1300px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/lib/Image/collarge1.jpg" style="width: 430px; height: 395px">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <h2 class="card-title" style="text-align:center">Multicolured Artworks</h2>
                <br />
                <p class="card-text" style="font-size: 18px">
                    At KhumaloCraft we bring vibrant colors and artistic expression which collides in a celebration of creativity! Founded by James Khumalo, our platform is a vibrant canvas showcasing the talents of artisans from around the world. From vivid paintings to intricate mosaics, each piece bursts with color and tells a unique story.
                    We are passionate about promoting sustainable practices and fair trade, ensuring that every brushstroke is ethically crafted. Dive into our collection and immerse yourself in a kaleidoscope of hues, where every artwork is a testament to the beauty of diversity and the power of imagination.
                    Whether you're drawn to bold abstracts or whimsical landscapes, KhumaloCraft offers a curated selection of colorful artworks to brighten your space and inspire your soul.
                    Join us in celebrating the joy of vibrant expression at KhumaloCraft.


                </p>

                <button class="btn btn-primary" style="border-radius: 50px; width: 200px;">More Info</button>
            </div>
        </div>
    </div>
</div>

<br />
<div class="card mb-3" style="height: 400px; width: 1300px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/lib/Image/collarge2.jpg" style="width: 430px; height: 395px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center">Dramatic Illumination Artworks</h2>
                <br />
                <p class="card-text" style="font-size: 18px">
                    At KhumaloCraft, we also bring the allure of darkness which meets the realm of artistry.
                    Founded by James Khumalo, our platform celebrates the beauty and depth found in dark artworks.
                    From haunting paintings to mesmerizing sculptures, each piece delves into introspection and mystery.
                    We provide a space for artists to explore themes of melancholy and transcendence while prioritizing sustainability and fair trade. Step into our gallery and immerse yourself in a world where darkness is revered, offering raw emotion and authentic expression.
                    Whether you're drawn to gothic aesthetics or surreal landscapes, KhumaloCraft offers a curated selection of dark artworks to ignite your imagination.
                    Join us as we journey into the depths of creativity at KhumaloCraft.

                </p>
                <br />
                <button class="btn btn-primary" style="border-radius: 50px; width: 200px; align-content:inherit">More Info</button>
            </div>
        </div>
    </div>
</div>



